@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerRegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerThin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerThinItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/Fontfabric-MullerMediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}