$orange: #ff9016;
$orange-clicked: #f18714;
$white: #ffffff;
$menu-color: #003b49;
$menu-color-rgba: rgba(0, 59, 73, 1);
$menu-color-light-rgba: rgba(0, 59, 73, 0.5);
$black: #0a1e32;
$black-rgba: rgba(10, 30, 50, 1);
$black-rgba-03: rgba(10, 30, 50, 0.3);
$black-rgba-05: rgba(10, 30, 50, 0.5);
$red: #d01f39;
$bq-border-color: #ebebeb;
$fb-color: #4266b2;
$tg-color: #0088cc;
$tw-color: #00aced;
$grey: rgba(10, 30, 50, 0.1);
$light-grey: rgba(10, 30, 50, 0.03);
$superlight-grey: rgba(10, 30, 50, 0.02);
$container-width: 970px;
$main-fz: 18px;
$transitions: all 0.5s ease-in-out;